@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #A64F03;
    --cor2: #D9831A;
    --cor3: #5B5A2C;
    --cor4: #2B1809;
    --cor5: #A9908B;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}

nav {
    height: auto;
    display: flex;
    background-color: black;
    justify-content: justify;
}

header > img#logo {
    height: 70px;
    padding: 20px;
    margin-left: 50px;
}

ul {
    padding: 45px;

}


a {
    padding: 10px;
    margin: 70px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
} 

a:hover{
    color: black;
    background-color: white;
    border-radius: 100px;
}
body {
    background-color: #ffbb7f;
}
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    width: 100%;
}

h1#titulo {
    text-align: center;
    font-size: 30px;
}


body > h1 {
    padding: 50px;
}

.person {
    max-width: 100px;
    
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-flow: nowrap;

}
    
.container > img {
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-flow: wrap;
    border-radius: 80px;
}

.card {
	background-color: black;
	border-radius: 10px;
	box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px 0;
	width: 600px;
    height:650px;
    margin: 50px;
    
}
.card h2 {
    font-family: helvetica;
	font-size: 24px;
	margin-bottom: 10px;
    color: white
}

.card p {
    font-family: helvetica;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 20px;
    color: white
}

.card>img {
	width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    border-radius: 10px;
    
    
}



.isolada {
    text-align: center;
}

